<div class = "topnav shadow p-1">
  <span class="Menu"(click)="openNav(true)"><i class="bi bi-list"></i></span>
</div>
<!-- top nav barr -->

<!-- left side bar -->
<div class="sidebar shadow p-2" id="sidebar" [ngStyle]="responsiveMenu">
  <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/inzendingen">Inzendingen</a></li>
      <li><a routerLink="/resultaten"><i class="bi bi-bar-chart-line-fill"></i> Resultaten</a></li>
      <li><a routerLink="/werklijsten"> <i class="bi bi-book"></i> Werklijsten</a></li>
      <li><a routerLink="/protocollen">Protocollen</a></li>
      <li><a routerLink="/klanten"><i class="fa-solid fa-people-group" style="color: #4b5482;"></i>Klanten</a></li>
      <li><a routerLink="/instellingen"><i class="bi bi-gear-wide"></i> Instellingen</a></li>
      <li><a routerLink="/logout"><i class="bi bi-box-arrow-right"></i> Log out</a></li>
  </ul>

</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
