<body>
    <h1>Klantenoverzicht</h1>
    <div>
        <input type= "search" id ="form1" class="form-control" placeholder="Search" aria-label="search">
    </div>
    <table datatable class="table table-bordered">
      <thead class = "bg-dark text-white">
        <tr>
          <th>UBN</th>
          <th>Bedrijfsnaam</th>
          <th>Melktanks</th>
          <th>Diersoort</th>
          <th>Straatnaam</th>
          <th>Huisnummer</th>
          <th>Postcode</th>
          <th>Woonplaats</th>
          <th>Contactpersoon</th>
          <th>Telefoonnummer</th>
          <th>Mobiele nummer</th>
          <th>KvK nummer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>112</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
  
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
     </tbody>
    </table>
  </body>